<!-- <table class="table">
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Image</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ title }}</td>
      <td>Doe</td>
      <td>john@example.com</td>
      <td>
        <img src="https://i.pravatar.cc/50?img=1" alt="thumb" />
      </td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>Moe</td>
      <td>mary@example.com</td>
      <td>
        <img src="https://i.pravatar.cc/50?img=2" alt="thumb" />
      </td>
    </tr>
    <tr>
      <td>July</td>
      <td>Dooley</td>
      <td>july@example.com</td>
      <td>
        <img src="https://i.pravatar.cc/50?img=3" alt="thumb" />
      </td>
    </tr>
  </tbody>
</table>

<button (click)="printThisPage()">Print This Page</button> -->
<!-- <button printSectionId="demo" ngxPrint>print</button> -->

<div class="food-vouchers">
  <!-- <h3>1</h3> -->
  <h1 class="food-vouchers_name">Nguyễn Văn A</h1>
  <h4 class="food-vouchers_id">Phong CNTT</h4>
  <h1 class="food-vouchers_food">Món ăn dịch vụ</h1>
  <p class="food-vouchers_date">08/16/2022</p>
</div>
